

.container .ql-editor{
    /* background: red; */
    /* width: 8.5in;
    min-height: 11in;
    padding: 1in;
    border-radius: 0.05in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); */
  
}

.container .ql-container.ql-snow{
    border: none;
    display: flex;
    /* justify-content: center; */
}

.container .ql-toolbar.ql-snow{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #efefef;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}


/* gap of the page */
@page{
    margin: 1in;
}

@media print{
    body::-webkit-scrollbar {
        display: none;
    }
    body{
        background: none;
        /* scrollbar-width: none; */
    }
    .container .ql-editor{
        /* width: 6.5in;
        height: 9in;
        margin: 0;
        padding: 0;
        box-shadow: none;
        align-self: flex-start; */
    }
    .container .ql-toolbar.ql-snow{
        display: none;
    }
}